*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding-bottom: 250px;
    max-width: 15vw;
}

body{
    background-color: rgb(149, 149, 228);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
